<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Implement Two way binding using [(ngModule)]</li>
        <li>Implement String Interpolation</li>
        <li>Implement property binding to disable the button</li>
        <li>Implement event binding to reset the value of input box</li>
      </ol>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)] = "username">
      <p>{{ username }}</p>
      <button type="button" 
      class="btn btn-primary" 
      [disabled]="username === ''" 
      (click)="username= ''">Reset Username</button>
    </div>
  </div>
</div>
